@import '../global/mixins';
@import '../global/helpers';

// VALUES
$desktop_width : 350px;

$default_menu_shadow : 0 0 3px 0 rgba(0, 0, 0, 0.45);

// STYLE
.menu {
  .menu__burger {
    position : fixed;
    top      : 20px;
    left     : 20px;
    z-index  : 10;
    cursor   : pointer;
  }

  .menu__content {
    @include flex($justify : space-between);
    position         : fixed;
    top              : 0;
    left             : 0;
    box-sizing       : border-box;
    padding          : 10px;
    width            : $desktop_width;
    height           : 100%;
    transition       : 200ms ease-in transform;
    box-shadow       : $default_menu_shadow;
    background-color : #FFFFFF;
    z-index          : 20;

    @include breakpoint(extra_small_device) {
      width : 100%;
    }

    .content__exit {
      position : absolute;
      top      : 15px;
      left     : 15px;
      cursor   : pointer;
    }

    .content__logo {
      padding     : 20px 0;
      width       : 100%;
      height      : auto;
      flex-shrink : 0;
    }

    .content__items {
      @include flex($justify : space-around);
      margin     : 100px 0;
      flex-grow  : 1;
      list-style : none;
      padding    : 0;
      width      : 100%;

      @include breakpoint(extra_small_device) {
        margin : 50px 0;
      }

      .item {
        .item__link {
          font-weight     : bold;
          text-transform  : uppercase;
          text-decoration : none;
          letter-spacing  : 2px;
          color           : #000000;
          padding         : 2px 5px;

          &:hover {
            color            : #FFFFFF;
            background-color : #000000;
          }
        }
      }
    }

    .content__legals {
      @include flex(row);
      width          : 100%;
      font-size      : 12px;
      text-transform : uppercase;
      flex-shrink    : 0;
      margin-top     : 15px;

      .legals__mentions {
        border-right    : 1px solid #000000;
        text-decoration : underline;
        cursor          : pointer;
        padding-right   : 5px;
      }

      .legals__copyright {
        margin-left : 5px;
      }
    }
  }

  &.menu--opened {
    .menu__burger {
      visibility : hidden;
      opacity    : 0;
    }

    .menu__burger {
      visibility : hidden;
    }
  }

  &.menu--closed {
    .menu__burger {
      opacity    : 1;
      visibility : visible;
      transition : 200ms ease-in all;
    }

    .menu__content {
      transform  : translateX(-100%);
      transition : 200ms ease-out transform;
    }
  }
}