// Override defaults

html,
body {
  width      : 100%;
  height     : 100%;
  overflow-x : hidden;
}

body {
  margin  : 0;
  padding : 0;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top : 0;
}

// App relative
#root {
  width  : 100%;
  height : 100%;
}

// Generic classes
.text--underline {
  text-decoration: underline;
}